<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="text-center">You'll find the code on github</div>
            <div class="text-center">
                <img src="./assets/images/github.png"
                     class="img-responsive center-block"
                     style="max-height:300px;padding-bottom:50px" />
            </div>
            <div class="text-center">https://github.com/rolger/angular-unit-testing-rxjs</div>
        </div>
    </div>
</div>